version: 2
jobs:
  build:
    docker:
    - image: circleci/golang:1.12
    working_directory: /go/src/github.com/hashicorp/vault-k8s
    steps:
    - checkout
    - run:
        name: "Setup Environment"
        command: |
          echo 'export GO111MODULE=on' >> $BASH_ENV
    - run:
        name: "Run Setup"
        command: |
          make setup
    - run:
        name: "Run Tests"
        command: |
          make test
    - run:
        name: "Run Linter"
        command: |
          make lint
    - run:
        name: "Run Test Build"
        command: |
          make build
