version: 2
jobs:
  build:
    docker:
    - image: docker.mirror.hashicorp.services/circleci/golang:1.16
    working_directory: /go/src/github.com/hashicorp/vault-k8s
    steps:
    - checkout
    - run:
        name: "Setup Environment"
        command: |
          echo 'export GO111MODULE=on' >> $BASH_ENV
    - run:
        name: "Run Tests"
        command: |
          make test
    - run:
        name: "Run Test Build"
        command: |
          make build
