name: Tests

# Run this workflow on pushes and manually
on: [push, workflow_dispatch]

jobs:
  test:
    env:
      # vault-k8s version
      VERSION: "0.0.0-dev"
      TARBALL_FILE: vault-k8s-image.docker.tar
    outputs:
      version: ${{ env.VERSION }}
      tarball_file: ${{ env.TARBALL_FILE }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version-file: .go-version

      - name: Build
        run: |
          REGISTRY=hashicorp make build image
          docker save --output "${TARBALL_FILE}" hashicorp/vault-k8s:${{ env.VERSION }}

      - name: Test
        run: make test

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: ${{ env.TARBALL_FILE }}
          path: ${{ env.TARBALL_FILE }}

  versions:
    runs-on: ubuntu-latest
    steps:
      - run: echo "setting versions"
    outputs:
      # JSON encoded array of k8s versions.
      K8S_VERSIONS: '["1.33.1", "1.32.5", "1.31.9", "1.30.13", "1.29.14"]'
      VAULT_N: "1.19.5"
      VAULT_N_1: "1.18.5"
      VAULT_N_2: "1.17.6"
      VAULT_LTS_1: "1.16.3"

  latest-vault:
    name: vault:${{ matrix.vault-version }} kind:${{ matrix.k8s-version }}
    runs-on: ubuntu-latest
    needs:
      - test
      - versions
    strategy:
      fail-fast: false
      matrix:
        vault-version:
          - ${{ needs.versions.outputs.VAULT_N }}
        k8s-version: ${{ fromJson(needs.versions.outputs.K8S_VERSIONS) }}

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: ./.github/actions/integration-test
        name: vault:${{ matrix.vault-version }} kind:${{ matrix.k8s-version }}
        with:
          k8s-version: ${{ matrix.k8s-version }}
          vault-version: ${{ matrix.vault-version }}
          tarball-file: ${{ needs.test.outputs.tarball_file }}
          version: ${{ needs.test.outputs.version }}
          vault-license: ${{ secrets.VAULT_LICENSE_CI }}

  latest-k8s:
    name: vault:${{ matrix.vault-version }} kind:${{ matrix.k8s-version }}
    needs:
      - versions
      - test
    strategy:
      fail-fast: false
      matrix:
        k8s-version:
          - ${{ fromJson(needs.versions.outputs.K8S_VERSIONS)[0] }}
        vault-version:
          - ${{ needs.versions.outputs.VAULT_N_1 }}
          - ${{ needs.versions.outputs.VAULT_N_2 }}
          - ${{ needs.versions.outputs.VAULT_LTS_1 }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: ./.github/actions/integration-test
        name: vault:${{ matrix.vault-version }} kind:${{ matrix.k8s-version }}
        with:
          k8s-version: ${{ matrix.k8s-version }}
          vault-version: ${{ matrix.vault-version }}
          tarball-file: ${{ needs.test.outputs.tarball_file }}
          version: ${{ needs.test.outputs.version }}
          vault-license: ${{ secrets.VAULT_LICENSE_CI }}
