name: Tests

# Run this workflow on pushes and manually
on: [push, workflow_dispatch]

jobs:
  get-go-version:
    name: "Determine Go toolchain version"
    runs-on: ubuntu-latest
    outputs:
      go-version: ${{ steps.get-go-version.outputs.go-version }}
    steps:
      - uses: actions/checkout@v2
      - name: Determine Go version
        id: get-go-version
        run: |
          echo "Building with Go $(cat .go-version)"
          echo "::set-output name=go-version::$(cat .go-version)"

  test:
    env:
      TARBALL_FILE: vault-k8s-image.docker.tar
    needs:
      - get-go-version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # cache/restore go mod
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - uses: actions/setup-go@v2
        with:
          go-version: ${{ needs.get-go-version.outputs.go-version }}

      - name: Build
        run: |
          REGISTRY=hashicorp make build image
          docker save --output "${TARBALL_FILE}" hashicorp/vault-k8s:0.0.0-dev

      - name: Test
        run: make test

      - uses: actions/upload-artifact@v3
        with:
          name: vault-k8s-image
          path: ${{ env.TARBALL_FILE }}

  acceptance:
    needs:
      - test
    strategy:
      fail-fast: false
      matrix:
        kind-k8s-version: [1.21.14, 1.22.15, 1.23.13, 1.24.7, 1.25.3]
    runs-on: ubuntu-latest
    steps:
      # Setup test tools from https://github.com/hashicorp/vault-helm/blob/main/.github/workflows/setup-test-tools/action.yaml
      - uses: actions/setup-node@v3
      - run: npm install -g bats@${BATS_VERSION}
        shell: bash
        env:
          BATS_VERSION: '1.8.2'
      - run: bats -v
        shell: bash
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: pip install yq
        shell: bash

      # Checkout vault-helm for acceptance test code.
      - uses: actions/checkout@v3
        with:
          repository: "hashicorp/vault-helm"
          ref: "v0.22.1"
          path: "vault-helm"

      - name: Create K8s Kind Cluster
        uses: helm/kind-action@v1.4.0
        with:
          cluster_name: kind
          config: vault-helm/test/kind/config.yaml
          node_image: kindest/node:v${{ matrix.kind-k8s-version }}
          version: v0.16.0

      - uses: actions/download-artifact@v3
        with:
          name: vault-k8s-image

      - name: Load vault-k8s dev image
        run: |
          docker image load --input vault-k8s-image.docker.tar
          kind load docker-image hashicorp/vault-k8s:0.0.0-dev

      - name: bats tests
        run: |
          yq --in-place --yaml-roundtrip '.injector.image.tag |= "0.0.0-dev"' ./vault-helm/values.yaml
          bats ./vault-helm/test/acceptance -t --filter injector
