name: Tests

# Run this workflow on pushes and manually
on: [push, workflow_dispatch]

jobs:
  test:
    env:
      TARBALL_FILE: vault-k8s-image.docker.tar
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0

      - uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4.1.0
        with:
          go-version-file: .go-version

      - name: Build
        run: |
          REGISTRY=hashicorp make build image
          docker save --output "${TARBALL_FILE}" hashicorp/vault-k8s:0.0.0-dev

      - name: Test
        run: make test

      - uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3.1.3
        with:
          name: vault-k8s-image
          path: ${{ env.TARBALL_FILE }}

  acceptance:
    needs:
      - test
    strategy:
      fail-fast: false
      matrix:
        kind-k8s-version: [1.24.15, 1.25.11, 1.26.6, 1.27.3, 1.28.0]
    runs-on: ubuntu-latest
    steps:
      # Setup test tools from https://github.com/hashicorp/vault-helm/blob/main/.github/workflows/setup-test-tools/action.yaml
      - uses: actions/setup-node@b39b52d1213e96004bfcb1c61a8a6fa8ab84f3e8 # v4.0.1
      - run: npm install -g bats@${BATS_VERSION}
        shell: bash
        env:
          BATS_VERSION: '1.8.2'
      - run: bats -v
        shell: bash
      - uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c # v5.0.0
        with:
          python-version: '3.10'
      - run: pip install yq
        shell: bash

      # Checkout this repo.
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
        with:
          path: "vault-k8s"

      # Checkout vault-helm for acceptance test code.
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
        with:
          repository: "hashicorp/vault-helm"
          ref: "v0.25.0"
          path: "vault-helm"

      - name: Create K8s Kind Cluster
        uses: helm/kind-action@99576bfa6ddf9a8e612d83b513da5a75875caced # v1.9.0
        with:
          cluster_name: kind
          config: vault-helm/test/kind/config.yaml
          node_image: kindest/node:v${{ matrix.kind-k8s-version }}
          version: v0.20.0

      - uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # v3.0.2
        with:
          name: vault-k8s-image

      - name: Load vault-k8s dev image
        run: |
          docker image load --input vault-k8s-image.docker.tar
          kind load docker-image hashicorp/vault-k8s:0.0.0-dev

      - name: Makefile tests
        working-directory: vault-k8s
        run: make deploy exercise teardown

      - name: bats tests
        working-directory: vault-helm
        run: |
          yq --in-place --yaml-roundtrip '.injector.image.tag |= "0.0.0-dev"' ./values.yaml
          bats ./test/acceptance -t --filter injector
