name: Tests

# Run this workflow on pushes and manually
on: [push, workflow_dispatch]

jobs:
  test:
    env:
      TARBALL_FILE: vault-k8s-image.docker.tar
    outputs:
      tarball_file: ${{ env.TARBALL_FILE }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version-file: .go-version

      - name: Build
        run: |
          REGISTRY=hashicorp make build image
          docker save --output "${TARBALL_FILE}" hashicorp/vault-k8s:0.0.0-dev

      - name: Test
        run: make test

      - uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3.1.3
        with:
          name: ${{ env.TARBALL_FILE }}
          path: ${{ env.TARBALL_FILE }}

  versions:
    runs-on: ubuntu-latest
    steps:
      - run: echo "setting versions"
    outputs:
      K8S_VERSIONS: '["1.29.2", "1.28.7", "1.27.11", "1.26.14", "1.25.16"]'
      VAULT_N: "1.15.6"
      VAULT_N_1: "1.14.10"
      VAULT_N_2: "1.13.13"

  latest-vault:
    name: vault:${{ matrix.vault-version }} kind:${{ matrix.k8s-version }}
    runs-on: ubuntu-latest
    needs:
      - test
      - versions
    strategy:
      fail-fast: false
      matrix:
        vault-version:
          - ${{ needs.versions.outputs.VAULT_N }}
        k8s-version: ${{ fromJson(needs.versions.outputs.K8S_VERSIONS) }}

    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
      - uses: ./.github/actions/integration-test
        name: vault:${{ matrix.vault-version }} kind:${{ matrix.k8s-version }}
        with:
          k8s-version: ${{ matrix.k8s-version }}
          vault-version: ${{ matrix.vault-version }}
          tarball-file: ${{ needs.build-and-test.outputs.tarball_file }}

  latest-k8s:
    name: vault:${{ matrix.vault-version }} kind:${{ matrix.k8s-version }}
    needs:
      - versions
      - test
    strategy:
      fail-fast: false
      matrix:
        k8s-version:
          - ${{ fromJson(needs.versions.outputs.K8S_VERSIONS)[0] }}
        vault-version:
          - ${{ needs.versions.outputs.VAULT_N_1 }}
          - ${{ needs.versions.outputs.VAULT_N_2 }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
      - uses: ./.github/actions/integration-test
        name: vault:${{ matrix.vault-version }} kind:${{ matrix.k8s-version }}
        with:
          k8s-version: ${{ matrix.k8s-version }}
          vault-version: ${{ matrix.vault-version }}
          tarball-file: ${{ needs.test.outputs.tarball_file }}
